.navbar-toggler-icon {
    color: white !important;
}

#offcanvasNavbarDropdown-expand {
    color: white !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.vnav-no-scroll {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.your-element::-webkit-scrollbar {
    display: none;
}

.bg-teal{
    /* background-color: teal !important; */
    background-color: #007c7f !important;
}